.var-setter {
  /* xs */
  --item-capacity: 2;
  --button-width: calc(var(--spacing) * 5); /* 20 px */
  --button-duration: 0ms;

  @media (width >= 40rem /* 640px */) {
    --item-capacity: 3;
    --button-width: calc(var(--spacing) * 6); /* 24 px */
  }

  @media (width >= 48rem /* 768px */) {
    --item-capacity: 4;
    --button-width: calc(var(--spacing) * 8.5); /* 34 px */
  }

  @media (width >= 64rem /* 1024px */) {
    --item-capacity: 5;
    --button-width: calc(var(--spacing) * 11); /* 44 px */
  }

  @media (width >= 80rem/* 1280px */) {
    --item-capacity: 6;
    --button-width: calc(var(--spacing) * 15); /* 60 px */
  }

  &:has(> nav > div:hover) {
    --button-duration: 300ms;
  }
}

.btn-width {
  width: var(--button-width);
}

.item-width {
  width: calc(
    (100dvw - 2 * var(--button-width) - (var(--item-capacity) + 1) * var(--spacing)) / var(--item-capacity)
  );
}
